
body {
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    border-bottom: 0.5px solid lightgray;
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style: none;
    height: 100%;
    padding-left: 10px;
    margin-bottom: 0;
}

nav img {
    display: block;
    height: 45px;
}

.card-member {
    display: block;
    padding: 0 5px;
    background-color: rgb(51, 122, 183);
    font-size: 12px;
    font-weight: 800;
    color: white;
    border-radius: 3px;
    margin-left: 10px; 
}

.card-body {
    overflow: auto;
}

.card {
    max-height: 100%;
    width: 250px;
    flex-shrink: 1;
}

.taskboard-card {
    position: relative;
}

.btn-info {
    background-color: #96cde9;
}

.btn-edit {
    font-size: 12px;
    color: white;
    padding: 2px 5px;
    border: solid 0.1px #2C94B6;
    border-radius: 3px;
    background-color: #55B6E2;
    position: absolute;
    font-weight: 600;
    top: 3px;
    right: 3px;
    display: none;
}

.btn-edit:hover {
    background-color: #2AA8D3;
}

.taskboard-card:hover .btn-edit {
    display: block;
}

.btn-add {
    width: 250px;
    flex-shrink: 1;
}

.btn-dlt-list {
    z-index: 20;
    right: 0;
    display: none;
}

.btn-nav {
    background-color: inherit;
    border: none;
    height: 100%;
    padding: 0 15px;
}

.btn-nav:hover {
    background-color: whitesmoke;
    transition: 0.5s;
}

.taskboard-board {
    height: calc(100vh - 115px);
    min-height: 250px;
    width: fit-content;
    display: flex;
}

/* members */

.members-container {
    min-width: 400px;
    width: 700px;
    margin: 30px auto;
    display: none;
}

.members-list .input-member {
    width: 300px;
}

.member {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.member .btn {
    padding: 3px 10px;
}

.member .edit-member {
    width: 500px;
}

.btn-hover {
    display: none;
}

.member:hover .btn-hover {
    display: block;
}

.confirm-edit {
    display: none;
}

.show {
    display: block;
}